body {
    background: url(../img/footage/background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@font-face {
    font-family: 'FongNam';
    src: url('../font/DB FongNam X.ttf') format('woff2');
}

@font-face {
    font-family: 'Silom';
    src: url('../font/DB Silom X.ttf') format('woff2');
}

.container {
    background-color: #0a112e;
    color: #E6C818;
}

.extend-container {
    max-width: 1200px;
    padding-bottom: 150px;
}

h1 {
    font-size: 75px;
    font-family: 'Silom', sans-serif;
}

p {
    font-size: 25px;
    font-family: 'FongNam', sans-serif;
}

.logo {
    z-index: 99;
    margin-top: 55px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-logo {
    margin-top: 50px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sub-logo>img {
    padding-right: 30px;
    position: absolute;
    z-index: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#nav {
    align-content: center;
    max-width: 750px;
    margin: 0 auto;
}

#nav>a:nth-child(1),
#nav>a:nth-child(2),
#nav>a:nth-child(3) {
    margin-top: 50px;
    margin-bottom: 50px;
}

.center-img {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

#content-1 {
    margin-top: 50px;
}

#content-1>div.col-md-5.col-sm-12.col-xs-12>h1 {
    text-align: center;
}

#qoute1 {
    margin-top: 100px;
}

.subtitle {
    margin-bottom: 75px;
}

#content-img1 {
    margin-bottom: 0px;
}

#content-img2 {
    margin-bottom: 0px;
}

#content-2 {
    margin-top: 50px;
}

#qoute2 {
    margin-top: 65px;
    margin-left: auto !important;
    margin-right: auto !important;
}

#content-img3 {
    margin-bottom: 0px;
}

#content-3 {
    margin-top: 50px;
    margin-bottom: 50px;
}

#qoute3 {
    margin-top: 50px;
    margin-left: auto !important;
    margin-right: auto !important;
}

#content-4 {
    margin-top: 50px;
}

#qoute4 {
    text-align: center;
    margin-top: 0px;
    margin-left: auto !important;
    margin-right: auto !important;
}

#bottom-sub-logo {
    bottom: 175px;
}

#page2-qoute1-1,
#page2-qoute1-2 {
    margin-top: 100px;
    margin-bottom: 25px;
}

#page2-qoute2 {
    margin-top: 50px;
    margin-bottom: 250 px;
}

#page3-content-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#page3-content-2 {
    margin-top: 150px;
    margin-bottom: 150 px;
}

.page3-subtitle{
    margin-bottom: 200px;
}

#page3-content-3{
    margin-bottom: 300px;
}

